Framework.Data/Framework.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Framework">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Databases">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="DataBase">
                                <xs:complexType>
                                    <xs:attribute name="DataSource" type="xs:string" use="required" />
                                    <xs:attribute name="UserID" type="xs:string" use="required" />
                                    <xs:attribute name="Password" type="xs:string" use="required" />
                                    <xs:attribute name="InitialCatalog" type="xs:string" use="required" />
                                    <xs:attribute name="CommandTimeout" type="xs:unsignedByte" use="required" />
                                    <xs:attribute name="ConnectTimeout" type="xs:unsignedByte" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>